{{ $input := . }}

{{- if $input.eventbriteId }}
    {{/* Ensure a unique ID for each button on the page. */}}
    {{- if not (page.Scratch.Get "cta_eventbrite_instance") }}
        {{- page.Scratch.Set "cta_eventbrite_instance" 0 }}
    {{- end }}
    {{- $buttonId := (printf "eventbrite-widget-modal-trigger-%d" (page.Scratch.Get "cta_eventbrite_instance")) }}
    {{- page.Scratch.Add "cta_eventbrite_instance" 1 }}


    <button id="{{ $buttonId }}" type="button" class="button button--outlined {{ .buttonClass }}" onclick="window.open('https://edas.info/newPaper.php?c=35175', '_blank')">
        {{ T "cta_button.get_ticket" }}
    </button>
{{- end }}

{{ define "partials/inline/cta/link.html" }}
    {{ $input := . }}
    <a class="button button--outlined" href="{{ $input.url }}" rel="noopener noreferrer" rel="external" target="_blank">
        {{ T "cta_button.get_ticket" }}
        <div class="button__icon">
            {{ partial "graphics/external-link.html" }}
        </div>
    </a>
{{ end }}

{{- if $input.eventbriteId }}
    <noscript>
        {{- partial "inline/cta/link.html" (
            dict
            "url" (printf "https://edas.info/index.php?c=%d" $input.eventbriteId)
            )
        }}
    </noscript>
{{- else if $input.ctaUrl }}
    {{ partial "inline/cta/link.html" (dict "url" $input.ctaUrl) }}
{{- end }}
